h3{
    color:chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.l
{
    color:blueviolet;
}
#Mango{
    color:rosybrown;
}